<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title mb-4" style="font-size: 28px; color: white;"><%= @apply.profile.name %></h2>
          <h5 class="card-subtitle mb-4" style="font-size: 22px; color: black;"><%= @apply.profile.email %></h5>
          <div>
            <p class="card-text mb-3" style="font-size: 20px; color: white;">
              <strong>Date of Birth:</strong>
              <span style="margin-left: 10px;"><%= @apply.profile.dob %></span>
            </p>
          </div>
   
          <div>
            <p class="card-text mb-3" style="font-size: 20px; color: white;">
              <strong>Qualification:</strong> 
              <span style="margin-left: 10px;"><%= @apply.profile.qualification %></p>
          </div>

          <div>
            <p class="card-text mb-3" style="font-size: 20px; color: white;"><strong>Skills:</strong>
            <span style="margin-left: 10px;"><%= @apply.profile.skills %></p>
          </div>

          <div>
            <p class="card-text mb-3" style="font-size: 20px; color: white;"><strong>Address:</strong>
            <span style="margin-left: 10px;"><%= @apply.profile.address %></p>
          </div>

          <div>
            <p class="card-text mb-4" style="font-size: 20px; color: white;"><strong>Contact:</strong> 
            <span style="margin-left: 10px;"><%= @apply.profile.contact %></p>
          </div>
          <br>
          <%if @applies.status == 'accepted'%>
            <h3>You have already accepted this application</h3>
          <%elsif @applies.status == 'rejected'%>
            <h3>You have already rejected this application</h3>
          <%else%>
            <div class="mt-4">
              <%byebug%>
              <%= link_to "Accept", accept_apply_path(apply_id: @applies.id), method: :get, class: "btn btn-success btn-sm mr-2" %>
              <%= link_to "Reject", reject_apply_path(apply_id: @applies.id), method: :get, class: "btn btn-danger btn-sm mr-2" %>
              <%= link_to "Back", root_path, class: "btn btn-sm btn-default" %>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
  