<h1>New Job</h1>

<%= form_with model: @job do |form| %>

  <div class="form-group">
    <%= form.collection_select :category_id, Category.all, :id, :name, { prompt: "Choose a category" }, class: "form-control" %><br>
  </div>

  <div class="form-group">
    <%= form.label :title %><br>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %><br>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :skills %><br>
    <%= form.text_field :skillset, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :salary %><br>
    <%= form.text_field :salary, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :experience %><br>
    <%= form.text_field :experience, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :location %><br>
    <%= form.text_area :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit class: "btn btn-sm btn-default" %>
  </div>
<% end %>
<div id="links">
  <%= link_to "Back", root_path, class: "btn btn-sm btn-default" %>
</div>
