<div id="jobs">
  <div class="job">
    <h2>
      <%= @job.title %>
    </h2>
    <p>
      <%= @job.description %>
    </p>
     <p>
      <%= @job.salary %>
    </p>
     <p>
      <%= @job.experience %>
    </p>
     <p>
      <%= @job.location %>
    </p>
    <button class="btn btn-default">
      <%= link_to "Apply for Job", new_application_path(job_id: @job.id)%>
    </button>
  </div>
</div>
<div id="links">
  <%= link_to "Back", root_path, class: "btn btn-sm btn-default" %>
  <%= link_to "Edit", edit_job_path(@job), class: "btn btn-sm btn-default" %>
  <%= link_to "Delete", job_path(@job), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-default" %>
</div>
