<h2><%= @job.client.name %></h2>
<h4><%= @job.client.email %></h4>
<h3><%= @job.title %> </h3>
<p><%= @job.description %></p>
<p><%= @job.salary %></p>
<p><%= @job.experience %></p>
<p><%= @job.location %></p>
<% if current_user.role == 'client' %>
  <ul>
  <li><%= link_to "Edit", edit_job_path(id:@job) %></li>
  <li><%= link_to "Destroy", job_path(id:@job), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you Sure?"
    } %></li>
  </ul>
<%end%>