<%if @user.jobs.count != 0%>
  <h2>Your total posted jobs: <%= @user.jobs.count %></h2>
  <ul>
  <% @user.jobs.each do |job|%>
    <li>
      <%= link_to job.title, job_path(id: job.id) %>
      <br>
      <%= job.description%>
    </li>
    <br>
  <% end %>
  </ul>
  <h3>Thought of something new?? Create here</h3>
  <%= link_to "New Job",new_job_path %>
<%else%>
  <h2>You haven't posted any job</h2>
  <h3>Thought of something new?? Create here</h3>
  <%= link_to "New Job", new_job_path%>
<%end%>
<br>
<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path %>
<% else %>
  <%= link_to "Sign In", new_user_session_path %>
<%end%>
