<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html></html>
<head>
  <title>CarrerLink</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-brand">CarrerLink</div>
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "All Jobs", jobs_path %>
        </li>
        <div class="nav-item">
          <% if current_user.client?%>
            <%= link_to "My Jobs", client_path(id: current_user.id), class: "nav-link" %>
          <%end%>
        </div>
        <% Category.all.each do |category| %>
          <li>
            <%= link_to category.name, jobs_path(category: category.name) %>
          </li>
        <% end %>
      </ul>
      <%= link_to "New Job", new_job_path, class: "navbar-text navbar-right navbar-link" %>
    </div>
    <div class="nav-item">
          <% if user_signed_in? %>
            <%= link_to "Sign out", destroy_user_session_path,class: "nav-link btn btn-primary" %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path,class: "nav-link btn btn-primary" %>
          <%end%>
        </div>
  </nav>
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <%= yield %>
    </div>
  </div>
</body>
